.main-footer {
    background: #000;
    color: #fff;
}

.main-container2 {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.main-footer__row-1 {
    order: 2;
}

.main-footer__social-cont {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-footer__icon {
    margin-right: 1rem;
    width: 1.5rem;
}

.main-footer__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem;
}

.heading-sm {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-footer__short-desc {
    margin-top: 2rem;
    color: #eee;
    font-size: 1rem;
    line-height: 1.7;
}

.main-footer__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1rem;
    text-align: left;
    text-align: center;
}

.main-footer__social-cont {
    margin-top: 2rem;
}

.main-footer__lower a {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 2px;
}

@media only screen and (max-width: 600px) {
    .main-footer__upper {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .main-footer__upper {
        padding: 2rem 0;
    }

    .main-footer__row-1 {
        margin-bottom: 5rem;
    }

    .main-footer__row-2 {
        width: 100%;
    }

    .main-footer__lower {
        padding: 3.5rem 0;
    }
}